---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CardsBoard from '../components/CardsBoard.astro';
import { users } from '../helpers/users.ts';

const title = 'Desafío 2. Testimonial Cards';
---

<Layout title={title}>
  <main class='h-screen lg:h-full flex justify-center items-center flex-col lg:gap-10 pb-10'>
    <Header title={title}/>
    <CardsBoard users={users}/>
  </main>
</Layout>
